build*
test
test.c
test.d
test.o
*stamp
*.previous
libre.a
libre.dylib
libre.pc
libre.so

# Windows build folder
Win32/*

# Visual studio config
mk/win32/baresip.vcxproj.user

# ctags
tags

# Vim swp files
*.swp
